*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:linear-gradient(135deg,#5C4033,#D8B08C);

}

.signup-box{

background:white;
width:420px;
padding:40px;
border-radius:20px;
box-shadow:0 15px 30px rgba(0,0,0,.2);

}

.signup-box h1{

text-align:center;
color:#5C4033;
margin-bottom:10px;

}

.signup-box h2{

text-align:center;
margin-bottom:10px;

}

.signup-box p{

text-align:center;
margin-bottom:25px;
color:#666;

}

input[type="text"],
input[type="email"],
input[type="password"]{

width:100%;
padding:15px;
margin-bottom:18px;
border:1px solid #ccc;
border-radius:10px;
font-size:16px;

}

input:focus{

outline:none;
border-color:#8B5E3C;

}

.terms{

display:flex;
align-items:center;
gap:10px;
font-size:14px;
margin-bottom:25px;

}

button{

width:100%;
padding:15px;
background:#5C4033;
color:white;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
transition:.3s;

}

button:hover{

background:#8B5E3C;

}

.login{

margin-top:20px;

}

.login a{

text-decoration:none;
color:#5C4033;
font-weight:600;

}

@media(max-width:480px){

.signup-box{

width:90%;
padding:30px;

}

}