*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

background:linear-gradient(135deg,#5C4033,#D8B08C);

}

.container{

background:white;

width:420px;

padding:40px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.2);

text-align:center;

}

.container h1{

color:#5C4033;

margin-bottom:10px;

}

.container h2{

margin-bottom:15px;

}

.container p{

color:#666;

line-height:1.7;

margin-bottom:30px;

}

input{

width:100%;

padding:15px;

border:1px solid #ccc;

border-radius:10px;

font-size:16px;

margin-bottom:25px;

}

input:focus{

outline:none;

border-color:#8B5E3C;

}

button{

width:100%;

padding:15px;

background:#5C4033;

color:white;

border:none;

border-radius:30px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#8B5E3C;

}

.login-link{

margin-top:25px;

}

.login-link a{

text-decoration:none;

color:#5C4033;

font-weight:600;

}

@media(max-width:480px){

.container{

width:90%;

padding:30px;

}

}