*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#F8F4EF;
}

header{
background:#5C4033;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.dashboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:40px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
text-align:center;
}

.card h1{
color:#5C4033;
margin-top:10px;
}

.transactions{
padding:40px;
}

.transactions h2{
margin-bottom:20px;
color:#5C4033;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
}

th,td{
padding:15px;
border-bottom:1px solid #ddd;
text-align:left;
}

th{
background:#5C4033;
color:white;
}

.green{
color:green;
font-weight:bold;
}

.red{
color:red;
font-weight:bold;
}

.analytics{
padding:40px;
}

.analytics h2{
margin-bottom:25px;
color:#5C4033;
}

.bars{
display:flex;
align-items:flex-end;
gap:20px;
height:220px;
background:white;
padding:20px;
border-radius:15px;
}

.bar{
flex:1;
background:#8B5E3C;
border-radius:8px 8px 0 0;
}

.b1{height:120px;}
.b2{height:180px;}
.b3{height:140px;}
.b4{height:200px;}
.b5{height:160px;}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:block;
margin:10px 0;
}

.transactions{
overflow-x:auto;
}

}