*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#F8F4EF;
}

.navbar{

background:#5C4033;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
position:sticky;
top:0;
z-index:1000;

}

.logo{

font-size:28px;
font-weight:700;
color:white;

}

.logo span{

color:#D8B08C;

}

.nav-links{

display:flex;
list-style:none;

}

.nav-links li{

margin-left:30px;

}

.nav-links a{

text-decoration:none;
color:white;
font-weight:500;
transition:.3s;

}

.nav-links a:hover{

color:#D8B08C;

}

.menu-btn{

display:none;
font-size:30px;
color:white;
cursor:pointer;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#7B5E57,#C4A484);

color:white;

text-align:center;

}

.hero h1{

font-size:55px;

}

.hero p{

margin-top:20px;

font-size:22px;

}

@media(max-width:768px){

.nav-links{

display:none;

position:absolute;

top:75px;

left:0;

width:100%;

background:#5C4033;

flex-direction:column;

}

.nav-links.active{

display:flex;

}

.nav-links li{

margin:20px 0;

text-align:center;

}

.menu-btn{

display:block;

}

.hero h1{

font-size:38px;

}

}